<h1>Styles</h1>
<ul>
    <li ng-repeat="Style in Styles">
        <div>
            <p ng-repeat="(key, val) in model_def">{{key}} : {{Style[key]}}</p>
        </div>
        <a href="" ui-sref="Styles.edit({ id: Style.id })">Edit</a>
        <a href="" ng-click="remove(Style)">Delete</a>
    </li>
</ul>
<div ng-show="Styles.length === 0">Looks like you haven't added any Styles yet?</div>
<a ng-hide="adding" ui-sref="Styles.add">Add A New Style</a>
