<h1>Add / Edit Style</h1>
<form name="new_Style_form">
    <div ng-repeat="(attr_name, attr_value) in model_def">
        <label for="{{attr_name}}">{{attr_name}}</label>
        <input type="text" ng-model="Style[attr_name]" name="{{attr_name}}" />
    </div>
    <button ng-click="save(Style)">Save Style</button>
    <button ui-sref="Styles.list">Cancel</button>
</form>