<h1>Add / Edit Brewery</h1>
<form name="new_Brewery_form">
    <div ng-repeat="(attr_name, attr_value) in model_def">
        <label for="{{attr_name}}">{{attr_name}}</label>
        <input type="text" ng-model="Brewery[attr_name]" name="{{attr_name}}" />
    </div>
    <button ng-click="save(Brewery)">Save Brewery</button>
    <button ui-sref="Breweries.list">Cancel</button>
</form>
