<h2>
  <strong>Cervejaria</strong>
  <button type="button"  class="btn btn-success btn-sm " ui-sref="Breweries.add"><span class="glyphicon glyphicon-plus"></span></button>
</h2>
<div>
  <div class="form-group">
    <autocomplete ng-model="result" attr-placeholder="type to search brewery..." click-activation="true" data="breweries" on-type="search"/>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th>pais</th>
    <th>#</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="brewery in Breweries">
    <td><img src="{{brewery.image_url}}" alt="" class="img-thumbnail" style="max-width: 50px; height: auto; "></td>
    <td>{{brewery.name}}</td>
    <td>{{brewery.country}}</td>
    <td>
      <button type="button"  class="btn btn-primary " ui-sref="Breweries.edit({ id: brewery.id })"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="button" class="btn btn-danger " ng-click="remove(brewery)" ><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
</table>
<div ng-show="brewerys.length === 0">Looks like you haven't added any Breweries yet?</div>

...
