<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BeerStore">
  <meta name="author" content="icastilho">
  <title>Beerstore</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">


</head>

<body ng-app="beerstore">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BeerStore</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/Beers">Beer</a></li>
        <li><a href="#Breweries">Brewery</a></li>
<!--        <li><a href="#Styles">Style</a></li>-->
        <!--<li><a href="#Subcategories">SubCategory</a></li>-->
      </ul>
     <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li class="active"><a href="./">Fixed top</a></li>
      </ul>-->
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron" >
    <div ui-view>
      <h1>Bem vindo ao Beerstore</h1>
      <p>Neste espaço você pode administrar e editar o conteúdo referente as cervejas e cervejarias que estarão disponíveis para pesquisa no aplicativo.</p>
    </div>
  </div>

</div> <!-- /container -->
<!--SCRIPTS-->
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/lodash/dist/lodash.min.js"></script>
<script src="/vendor/restangular/dist/restangular.min.js"></script>
<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/Beer/Beer-controller.js"></script>
<script src="/app/Beer/Beer-routes.js"></script>
<script src="/app/Brewery/Brewery-controller.js"></script>
<script src="/app/Brewery/Brewery-routes.js"></script>
<script src="/app/Style/Style-controller.js"></script>
<script src="/app/Style/Style-routes.js"></script>
<script src="/app/SubCategory/SubCategory-controller.js"></script>
<script src="/app/SubCategory/SubCategory-routes.js"></script>
<script src="/app/components/sails-resource/sails-resource-service.js"></script>
<script src="/app/main/main-routes.js"></script>
<!--SCRIPTS END-->

<script src="/vendor/allmighty-autocomplete/script/autocomplete.js"></script>
</body>
</html>
