<h1>Subcategories</h1>
<ul>
    <li ng-repeat="SubCategory in Subcategories">
        <div>
            <p ng-repeat="(key, val) in model_def">{{key}} : {{SubCategory[key]}}</p>
        </div>
        <a href="" ui-sref="Subcategories.edit({ id: SubCategory.id })">Edit</a>
        <a href="" ng-click="remove(SubCategory)">Delete</a>
    </li>
</ul>
<div ng-show="Subcategories.length === 0">Looks like you haven't added any Subcategories yet?</div>
<a ng-hide="adding" ui-sref="Subcategories.add">Add A New SubCategory</a>
