<h1>Add / Edit SubCategory</h1>
<form name="new_SubCategory_form">
    <div ng-repeat="(attr_name, attr_value) in model_def">
        <label for="{{attr_name}}">{{attr_name}}</label>
        <input type="text" ng-model="SubCategory[attr_name]" name="{{attr_name}}" />
    </div>
    <button ng-click="save(SubCategory)">Save SubCategory</button>
    <button ui-sref="Subcategories.list">Cancel</button>
</form>