<h2>
  <strong>Cervejas</strong>
  <button type="button"  class="btn btn-success btn-sm " ui-sref="Beers.add"><span class="glyphicon glyphicon-plus"></span></button>
</h2>
<div>
  <div class="form-group">
    <autocomplete ng-model="result" attr-placeholder="type to search beers..." click-activation="true" data="beers" on-type="search"/>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th>Estilo</th>
    <th>Cervejaria</th>
    <th>#</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="beer in Beers">
    <td><img src="{{beer.image_url}}" alt="" class="img-thumbnail" style="max-width: 50px; height: auto; "></td>
    <td>{{beer.name}}</td>
    <td>{{beer.style}}</td>
    <td>{{beer.brewery.name}}</td>
    <td>
      <button type="button"  class="btn btn-primary btn-sm " ui-sref="Beers.edit({ id: beer.id })"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="button" class="btn btn-danger btn-sm " ng-click="remove(beer)" ><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
</table>
<div ng-show="Beers.length === 0">Looks like you haven't added any Beers yet?</div>

...
