<h1>Add / Edit Beer</h1>
<form name="new_Beer_form">
    <div ng-repeat="(attr_name, attr_value) in model_def">
        <label for="{{attr_name}}">{{attr_name}}</label>
        <input type="text" ng-model="Beer[attr_name]" name="{{attr_name}}" />
    </div>
    <button ng-click="save(Beer)">Save Beer</button>
    <button ui-sref="Beers.list">Cancel</button>
</form>